*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;

}

.intibiome{
  height: 79px;
  width: 195px;
  margin-left: 862px;
  align-items: center;
}

.search{
  display: flex;
  margin-left: 424px;
  margin-right: 415px;
}

.about-image{
  background-image: url(../public/banner-hero.png);
  display: block;
  height: 550px;
  width: 1920px;
}

.about-image-responsive{
  background-image: url(../public/responsive-image-about.png);
  height: 475px;
  width: 429px;
  display: none;
}

.hamburger-menu{
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.menu{
  background-color: #389CD6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 49px;
  width: 1920px;
}

.menu ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 605px;
  margin-left: 581px;
  list-style: none;
}

.menu ul li{
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.menu a{
  text-decoration: none;
  color: white;
  
}

.submenu{
  background-color: #7B7070;
  display: flex;
}

.submenu-container{
  margin-left: 414px;
  margin-bottom: 13px;
  height: 46px;
  width: 1920px;
  
}

.submenu ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.submenu ul li {
  color: white;
  font-size: 16px;
  padding: 10px 20px;
}

.submenu a {
  text-decoration: none;
  color: white;
}


.text-about{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #7B7070;
}

.text-about h2{
  font-size: 39px;
  color: #389CD6;
}

.container-img{
  align-items: center;
}

.icons{
  background-image: url(../public/icons.png);
  display: block;
  height: 259px;
  width: 1132px;
}

.icons-responsive{
  background-image: url(../public/icons-responsive.png);
  display:none;
  height: 121px;
  width: 392px;
}

.text-about-2{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
  color: #7B7070;
}

.text-about-2 h2{
  font-size: 39px;
  color: #389CD6;
}

.container-img{
  display: flex;
  flex-direction: column;

}

.container-products{
  display: flex;
  justify-content: center;
}

.container-products h2{
  font-size: 39px;
  color: #389CD6;
}

.img-products{
  background-color: url(../public/Asset\ 22.png);
  height: 437px ;
  width: 1920px;
  display: block;
}

.img-products-responsive{
  background-image: url(../public/responsive-image-products.png);
  display: none;
  height: 470px;
  width: 420px;
}

.card-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 391px;
  margin-left: 395px;
  margin-top: 80px;
  margin-bottom: 144px;
}

.card-wellness{
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  height: 530px ;
  width: 356px ;
}

.card-wellness p{
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #7B7070;
}

.card-wellness h2{
  background-color: #389CD6;
  color: #fff;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-top: 52px;
  border-radius:16px;
  padding: 16px;
}

.card-active{
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  height: 530px ;
  width: 356px ;
}

.card-active p{
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #7B7070;
}

.card-active h2{
  background-color: #309D5F;
  color: #fff;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-top: 52px;
  border-radius: 16px;
  padding: 16px;
}

.card-agecare{
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  height: 530px ;
  width: 356px ;
}

.card-agecare p{
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #7B7070;
}

.card-agecare h2{
  background-color: #EE6381;
  color: #fff;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-top: 52px;
  border-radius: 16px;
  padding: 16px;
}

.container-discoveries{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.container-discoveries h2{
  font-size: 39px;
  color: #389CD6;
}

.card-1{
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  height: 355px ;
  width:356px ;
}

.card-1 p{
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #7B7070;
}

.card-2{
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  height: 355px ;
  width:356px ;
}

.card-2 p{
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #7B7070;
}

.card-3{
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  height: 355px ;
  width:356px ;
}

.card-3 p{
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #7B7070;
}

.button-part{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-part button{
  background-color: #389CD6;
  color:white;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  height: 62px; 
  width: 326px;
  padding: 26px;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.footer-container{
  background-color: #389CD6;
  color: #ffff;
  margin-top: 120px;
  padding-top: 56px;
  padding-bottom: 64px;
  width: 1920px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  margin-bottom: 74px;
  margin-left: 551px;
  margin-right: 551px;
}

.footer-images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

@media screen and (max-width: 500px) {

  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intibiome{
    height: 58px;
    width: 143px;
  }

  .menu{
    display: none;
  }

  .hamburger-menu{
    display: block;
  }

  .container{
    display: block;
  }

  .about-image{
    display: none;
  }

  .about-image-responsive{
    display: block;
  }

  .text-about{
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  }
  .text-about h2{
    font-size: 31px;
  }

  .icons{
    display: none;
  }

  .icons-responsive{
    display: block;
    height:121px;
    width: 392px;
    
  }

  .text-about-2{
    text-align: center;
    font-size: 16px;
    margin-bottom: 80px;
  }

  .text-about-2 h2{
    font-size: 34px;
  }

  .container h2{
    font-size: 31px;
    margin-top: 0px;
  }

  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 216px;
    margin-bottom: 64px;
    margin-top: 40px;
  }

  .card-container h2{
    margin-top: 60px;
  }

  .img-products{
    display: none;
  }

  .img-products-responsive{
    display: block;
   
  }

  .container-discoveries{
    margin-top: 40px;
    font-size: 31px;
    text-align: center;
  }

  .button-part{
    margin-top: 40px;
  }

  .footer-container{
    height: 100%;
    padding-bottom: 400px;
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 174px;
    font-size: 16px;
    color: #fff;
  }

  .footer-images{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ulabs{
    width: 116px;
    height: 29px;
    margin-bottom: 108px;
  }

  .instagram{
    width: 42px;
    height: 42px;
  }

 }